div.rotateupsmall {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    background-color: white;
    text-align: center;
    color: black;
    font-size:70px;
    transform: rotate(0deg); 
}
div.rotateleftsmall {
    width: 300px;
  background-color: white;
    height: 300px;
    font-size:70px;
    text-align: center;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-90deg); 
}


div.rotatedownsmall {
    width: 300px;
  background-color: white;
    text-align: center;
    font-size:70px;
    color: black;
    height: 300px;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-180deg); 
}


div.rotaterightsmall {
    width: 300px;
    text-align: center;
    height: 300px;
    font-size:70px;
    color: black;
  background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-270deg); 
}

div.rotateupmedium {
    width: 300px;
  background-color: white;
    height: 300px;
    font-size:150px;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    color: black;
    text-align: center;
    transform: rotate(0deg); 
}
div.rotateleftmedium {
    width: 300px;
    height: 300px;
    text-align: center;
    font-size:150px;
    border-style: solid;
    border-width: thin;
  background-color: white;
    border-color: #FFFFFF;
    transform: rotate(-90deg); 
    color: black;
}


div.rotatedownmedium {
    width: 300px;
    text-align: center;
    height: 300px;
    font-size:150px;
  background-color: white;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-180deg); 
}


div.rotaterightmedium {
    width: 300px;
  background-color: white;
    text-align: center;
    height: 300px;
    border-style: solid;
    font-size:150px;
    border-width: thin;
    border-color: #FFFFFF;
    color: black;
    transform: rotate(-270deg); 
}

div.rotateuplarge {
    width: 300px;
    height: 300px;
    font-size:220px;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    text-align: center;
    transform: rotate(0deg); 
  background-color: white;
    color: black;
}
div.rotateleftlarge {
    width: 300px;
    font-size:220px;
    height: 300px;
    color: black;
  background-color: white;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-90deg); 
}


div.rotatedownlarge {
    width: 300px;
    text-align: center;
    height: 300px;
    font-size:220px;
    border-style: solid;
  background-color: white;
    color: black;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-180deg); 
}


div.rotaterightlarge {
    width: 300px;
  background-color: white;
    text-align: center;
    font-size:220px;
    height: 300px;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    transform: rotate(-270deg); 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.rotateup {
    width: 15px;
    display: flex;
    flex: 1;
    height: 20;
    transform: rotate(0deg); 
}
div.rotateleft {
    width: 15px;
    display: flex;
    flex: 1;
    height: 20;
    transform: rotate(-90deg); 
}

div.rotatedown {
    width: 15px;
    display: flex;
    flex: 1;
    height: 20;
    transform: rotate(-180deg); 
}

div.rotateright {
    width: 15px;
    display: flex;
    flex: 1;
    height: 20;
    transform: rotate(-270deg); 
}

span.rotatesup {
    width: 1px;
    height: 1px;
    padding: 7px;
display: inline-block;
    transform: rotate(0deg); 
}

span.rotatesleft {
display: inline-block;
    padding: 7px;
    transform: rotate(-90deg); 
}

span.rotatesdown {
display: inline-block;
    transform: rotate(-180deg); 
    padding: 7px;
}

span.rotatesright {
display: inline-block;
    padding: 7px;
    transform: rotate(-270deg); 
}
